.main-chat
  .main-chat__top
    .group-box
      .group-box__group-name 新グループ
      = link_to "Edit", "#", class:"edit-btn" 
    .group-box__member-name Member:daichi  

  .main-chat__middle
    .message-box
      .username 
        daichi
        .time 2020/03/11
      .chatmessage おはよう

    .message-box
      .username 
        daichi
        .time 2020/03/11
      .chatmessage おはよう


  .main-chat__bottom
    .type-box
      typemessage
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file"}
    .type-box__send-box Send
