%div.side-bar
  .side-bar__username-box
    test
    .icon
      = icon('fa','edit') 
      = icon('fa','cog') 
  .side-bar__GroupBox
    .group
      新グループ
      %p.massage まだメッセージはありません
    .group
      新グループ2
      %p.massage まだメッセージはありません 